<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Predicting_PewDiePie's_daily_subscribers_using_Machine_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting PewDiePie's daily subscribers using Machine Learning.

![alt text](https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fpaularmstrongtech%2Ffiles%2F2017%2F02%2Fpewdiepie-brofist.jpg)

**The Steps that we are going to follow to complete this implementation is as follows:**


> 1. Importing the important libraries which are numpy, pandas, sklearn, matplotlib.
2. Reading the dataset from the CSV file.
3. Splitting the dataset into independent (x) and dependent (y) variables.
4. Dividing the complete dataset into training and testing dataset.
5. Implement our classifier based on simple linear regression.

**This is how you load the CSV file from your desktop to the google colab**

In [54]:
from google.colab import files
uploaded = files.upload()

Saving PewDiePie.csv to PewDiePie (2).csv

**Step 1: Importing the necessary libraries.**

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

**Step 2. Reading the dataset from the CSV file.**

In [0]:
import io
df = pd.read_csv(io.BytesIO(uploaded['PewDiePie.csv']))
# Dataset is now stored in a Pandas Dataframe

In [57]:
df

    Date  Subscribers
0      1        71915
1      2        48270
2      3        47746
3      4        42276
4      5        36867
5      6        28722
6      7        29794
7      8        33125
8      9        27877
9     10        30675
10    11        32450
11    12        45714
12    13        59377
13    14        42289
14    15        36002
15    16        25872
16    17        31623
17    18        46504
18    19        49421
19    20        27844

**Step 3: Splitting the dataset into independent (x) and dependent (y) variables.**

In [0]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]

**This is how you convert an array into a pandas dataframe.**

In [79]:
pd.DataFrame(x)

    Date
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20

In [80]:
pd.DataFrame(y)

    Subscribers
0         71915
1         48270
2         47746
3         42276
4         36867
5         28722
6         29794
7         33125
8         27877
9         30675
10        32450
11        45714
12        59377
13        42289
14        36002
15        25872
16        31623
17        46504
18        49421
19        27844

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

**Step 4: Dividing the complete dataset into training and testing dataset.**

In [82]:
pd.DataFrame(x_train)

    Date
6      7
13    14
4      5
2      3
5      6
14    15
9     10
7      8
16    17
11    12
3      4
0      1
15    16
12    13

In [83]:
pd.DataFrame(y_train)

    Subscribers
6         29794
13        42289
4         36867
2         47746
5         28722
14        36002
9         30675
7         33125
16        31623
11        45714
3         42276
0         71915
15        25872
12        59377

In [84]:
pd.DataFrame(y_test)

    Subscribers
18        49421
1         48270
19        27844
8         27877
10        32450
17        46504

**Step 5: Implement our classifier based on simple linear regression.**

In [65]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_predict = simplelinearRegression.predict(x_test)

In [85]:
pd.DataFrame(y_predict)

              0
0  31041.644085
1  47086.367846
2  30097.836805
3  40479.716886
4  38592.102326
5  31985.451365

In [88]:
i = 21
while i <= 28:
  print("Total number of increase in subscribers on May %d ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

Total number of increase in subscribers on May 21 ==> 29154
Total number of increase in subscribers on May 22 ==> 28210
Total number of increase in subscribers on May 23 ==> 27266
Total number of increase in subscribers on May 24 ==> 26322
Total number of increase in subscribers on May 25 ==> 25378
Total number of increase in subscribers on May 26 ==> 24434
Total number of increase in subscribers on May 27 ==> 23491
Total number of increase in subscribers on May 28 ==> 22547

**This is how the predict function can be used inorder to predict the subscribers, the subscribers returned by the predict function is quite accurate. Below given is the social blade statistics, you can compare the rest.**

![alt text](http://i66.tinypic.com/ndlevr.png)